:root {
  --yellow: #facf0f;
}

.about {
  padding-top: 60px;
  background: #fafafa;
  padding-bottom: 70px;
  zoom: 115%;
}

@media (max-width: 450px) {
  .about {
    zoom: 100%;
  }
}

@media (min-width: 900px) {
  .about-main-container {
    display: flex;
  }
}

.about-content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.description {
  margin-right: 35px;
}

.about-text {
  margin-top: 20px;
  font-size: 15px;
}

.contact-btn {
  margin-top: 25px;
  padding: 12px 30px;
}

.contact-btn:hover {
  font-size: 15px;
  color: white;
}

.skills .secondary-header {
  width: 100%;
}

.skill-chips {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skill-chips .chip {
  background-color: rgb(225, 225, 225);
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.15s;
  transition: color 0.15s;
  cursor: default;
}

.skill-chips .chip:hover {
  color: white;
  background-color: var(--yellow);
  box-shadow: 1px 1px 18px 0px rgba(89, 89, 89, 0.85);
}
