:root {
  --yellow: #FACF0F;
}

.footer {
  background: #000;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  zoom: 110%;
}

@media (max-width: 450px) {
  .footer {
    zoom: 100%;
  }
}

.footer-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.footer p {
  color: white;
}

.footer-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}

.footer-header {
  text-align: center;
}

.footer-links {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.footer-links img {
  height: 50px;
  transition: height 0.15s;
}

.footer-links img:hover {
  height: 53px;
}

.copyright-text {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}