:root {
  --yellow: #FACF0F;
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: rgb(247, 247, 247);
  overflow-x: hidden;
  padding-top: 50px;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.side-nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
  margin-top: 30px;
  background-color: transparent;
  padding: 5px 8px;
  border-radius: 5px;
  transition: background-color 0.15s;
  transition: color 0.15s;
}

.side-nav a:hover {
  background-color: var(--yellow);
  color: white;
}

.side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 50px;
  margin-top: 0px;
}
